body.has-navbar-fixed-top
    nav.navbar#top-of-page.is-fixed-top
        .navbar-brand
            a.navbar-item(href="./index.html")
                img(
                    src="./assets/img/logo/logo-avalonstudios-jul2024-45x37.png",
                    width="45",
                    height="37"
                )
                h2 Avalon Studios
            a.navbar-burger(
                role="button",
                aria-label="menu",
                aria-expanded="false",
                data-target="avalon-navbar"
            )
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")
        #avalon-navbar.navbar-menu
            .navbar-end
                a.navbar-item(href="./index.html#games") Games
                a.navbar-item(href="./index.html#about") About
                a.navbar-item(href="./index.html#contact") Contact
    button#return-to-top(title="Go to top").button.is-medium.is-info Top